<ion-header>

  <ion-navbar color="primary">
    <ion-title>Recomendaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <button (tap)="clearEstado()" *ngIf="estado" color="primary" ion-button block>Cambiar estado</button>
  <ion-list *ngIf="!estado">
    <ion-item>
      <ion-label>Selecciona tu estado</ion-label>
      <ion-select (ionChange)="callAi()" [(ngModel)]="estado">
        <ion-option *ngFor="let e of estados" value="{{e}}">{{ e }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <div *ngFor="let carrera of carreras_usuario">
      <ion-item >
        <ion-avatar (tap)="verCarrera(carrera)" item-start>
          <img src="{{carrera.image}}">
        </ion-avatar>
        <h2 (tap)="verCarrera(carrera)">{{carrera.nombre}}</h2>
        <p>
          {{carrera.disciplina}} {{carrera.distancia}} km<br>
          {{carrera.estado}}
        </p>
        <button (tap)="ignoreEvent(carrera)" color="danger" ion-button clear item-end>Ignorar</button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
