<ion-header>

  <ion-navbar color="primary">
    <ion-title>Inicia Sesión</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="../assets/img/logo_sport.png" alt="">
  <div text-center>
    <p class="ptext">¿Ya tienes una cuenta?</p>
    <button color="primary" ion-button block (click)="goToSignInForm()">Inicia sesión</button>
    <p class="ptext">¿Aún no formas parte?</p>
    <button color="primary" ion-button block (click)="goToSignUpForm()">Registrate gratis</button>
  </div>
</ion-content>
