<ion-header>

  <ion-navbar color="primary">
    <ion-title>Kit</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="carrera.kit">
    <ion-card>
      <img src="{{carrera.kit.img}}" />
      <ion-card-content>
        <ion-card-title>
          Kit de la carrera
        </ion-card-title>
        <p>
          {{carrera.kit.descripcion}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
