<ion-header>

  <ion-navbar color="primary">
    <ion-title>Patrocinadores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="carrera.patrocinadores">
    <ion-item *ngFor="let p of carrera.patrocinadores">
      <ion-thumbnail item-start>
        <img src="{{p.icono}}">
      </ion-thumbnail>
      <h2>{{p.nombre}}</h2>
      <button (tap)="verPromo(p.promocional)" ion-button clear item-end>Ver</button>
    </ion-item>
  </ion-list>
</ion-content>
