<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Carreras" tabIcon="flag"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Pasadas" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Para ti" tabIcon="thumbs-up"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{label}}" tabIcon="person"></ion-tab>>
</ion-tabs>
