<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button (tap)="salir()" ion-button icon-only>
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Mi Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <ion-item text-center>
      <ion-avatar item-start>
        <img class="avatar-carrera" src="https://firebasestorage.googleapis.com/v0/b/inmobiliarias-dgo.appspot.com/o/descarga.png?alt=media&token=aa7a0dc3-5b8c-4879-a74c-5671579eec1a">
      </ion-avatar>
      {{user.nombre}} <br>
      <p *ngIf="user.eventos_seguidos">Sigue {{user.eventos_seguidos.length.toString()}} evento(s)</p>
      <p *ngIf="!user.eventos_seguidos">Sigue 0 eventos</p>
      <button (tap)="goToConfig(user)" ion-button block>Editar perfil</button>
    </ion-item>
    <ion-list>
      <div *ngFor="let carrera of carreras | async">
        <ion-item (tap)="verCarrera(carrera)" *ngIf="followedEvent(carrera)">
          <ion-avatar item-start>
            <img src="{{carrera.image}}">
          </ion-avatar>
          <h2>{{carrera.nombre}}</h2>
          <p>
            {{carrera.disciplina}} {{carrera.distancia}} km
            <br> {{carrera.estado}}
          </p>
        </ion-item>
      </div>
    </ion-list>
  </div>
  
</ion-content>
