<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ carrera.nombre }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item class="gray-text" text-center>
      <ion-avatar item-start>
        <img class="avatar-carrera" src="{{carrera.image}}">
      </ion-avatar>
      Seguidores {{ contador_seguidores }}
      <button *ngIf="!followed" (tap)="followEvent()" ion-button outline block>Seguir</button>
      <button *ngIf="followed" (tap)="unfollowConfirm()" ion-button block>Siguiendo</button>
  </ion-item>
  <ion-item>
    <p class="gray-text">
      <ion-icon name="body" item-start></ion-icon>
      Disciplina: {{ carrera.disciplina }}
    </p>
    <p class="gray-text">
      <ion-icon name="resize" item-start></ion-icon>
      Distancia: {{ carrera.distancia }} km / {{ distancia_millas }};
    </p>
    <p class="gray-text">
      <ion-icon name="calendar" item-start></ion-icon>
      Fecha: {{ carrera.fecha }}
    </p>
    <p class="gray-text">
      <ion-icon name="cash" item-start></ion-icon>
      Costo: $ {{ carrera.costo }} MXN
    </p>
  </ion-item>

  <div class="no-padding">
    <ion-segment [(ngModel)]="segment_var">
      <ion-segment-button value="menus">
        <ion-icon name="albums"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segment_var">
    <div *ngSwitchCase="'menus'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let menu of menus" col-6>
            <ion-card *ngIf="menu.disponible == 1" class="without-separation" (tap)="openMenu(menu)" text-center>
              <ion-card-header class="bg-red">
                <ion-icon class="large-icon" name="{{ menu.icon }}" item-start></ion-icon>
              </ion-card-header>
              <ion-card-content>
                {{ menu.title }}
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col col-6>
            <ion-card class="without-separation" (tap)="realidadPage()" text-center>
              <ion-card-header class="bg-red">
                <ion-icon class="large-icon" name="planet" item-start></ion-icon>
              </ion-card-header>
              <ion-card-content>
                Realidad Aumentada
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
