.ios, .md {
    page-ver-carrera { 
        .avatar-carrera {
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }
        .header-avatar {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            box-shadow: -0.5px 1px 30px 1px rgba(0,0,0, 0.90);
        }
        .header-container{
            align-content: center !important;
            align-items: center !important;
            text-align: center !important;
        }
        ion-card-content{
            padding: 0;
            margin: 0;
        }
        ion-col{
            padding: 5px 0px;
        }

        .without-separation{
            margin-bottom: -10px;
            padding-bottom: -10px;
        }

        .gray-text {
            color: #575757;
        }
        .bg-red{
            background-color: #B3B3B3;
        }

        .large-icon{
            font-size: 35px;
        }
    }
}
