<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Eventos pasados
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let carrera of carreras | async">
      <ion-item *ngIf="carrera.fecha != compararFechas(carrera.fecha)" (tap)="verCarreraPasada(carrera)">
        <ion-avatar item-start>
          <img src="{{carrera.image}}">
        </ion-avatar>
        <h2>{{carrera.nombre}}</h2>
        <p>
          {{carrera.disciplina}} {{carrera.distancia}} km
          <br> {{carrera.estado}}
        </p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
