<ion-header>

  <ion-navbar color="primary">
    <ion-title>Premios</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="carrera.categorias">
    <ion-list *ngFor="let cat of carrera.categorias">
      <ion-list-header>
        {{cat.nombre}}
      </ion-list-header>
      <ion-item *ngFor="let p of cat.premios">
        {{p.lugar}} - $ {{p.premio}} MXN
      </ion-item>
    </ion-list>
  </div>
</ion-content>
