<ion-header>

  <ion-navbar color="primary">
    <ion-title>Inicia Sesión</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="user.email" type="email" placeholder="Email" required>
    </ion-input>
  </ion-item>
  <br>
  
  <ion-item>
    <ion-input [(ngModel)]="user.password" type="password" placeholder="Constraseña" required>
    </ion-input>
  </ion-item>
  <br>
  
  <button color="primary" ion-button block (click)="iniciarSesion()">Iniciar Sesión</button>
</ion-content>
