<ion-header>
  <ion-navbar color="primary">
    <ion-title>Comunidad</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="no-padding">
    <ion-segment [(ngModel)]="segment_var">
      <ion-segment-button value="galeria">
        <ion-icon name="images"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="memes">
        <ion-icon name="happy"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="segment_var">
    <div *ngSwitchCase="'galeria'">
      <img src="{{foto.img}}" class="galeria" *ngFor="let foto of imagenes" imageViewer>
    </div>
    <div *ngSwitchCase="'memes'">
      <img src="{{foto.img}}" class="galeria" *ngFor="let foto of memes" imageViewer>
    </div>
  </div>
</ion-content>
