<ion-header>

  <ion-navbar color="primary">
    <ion-title>Encuesta</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <h6>Como calificarias el evento?</h6>
  <ion-item>
    <ion-select [(ngModel)]="general" id="select_metodos" multiple="false">
      <ion-option *ngFor="let o of opiniones" value="{{o}}">{{o}}</ion-option>
    </ion-select>
  </ion-item>
  <h6>Como calificarias la ruta del evento?</h6>
  <ion-item>
    <ion-select [(ngModel)]="ruta" id="select_metodos" multiple="false">
      <ion-option *ngFor="let o of opiniones" value="{{o}}">{{o}}</ion-option>
    </ion-select>
  </ion-item>
  <h6>Como calificarias la hidratación?</h6>
  <ion-item>
    <ion-select [(ngModel)]="hidratacion" id="select_metodos" multiple="false">
      <ion-option *ngFor="let o of opiniones" value="{{o}}">{{o}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="opinion" placeholder="Danos tu opinión"></ion-textarea>
  </ion-item>
  <button (tap)="sendOpinion()" ion-button block>Enviar</button>
</ion-content>