<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registrate</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="nombre" type="text" placeholder="Nombre" required>
    </ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input [(ngModel)]="email" type="email" placeholder="Email" required>
    </ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Constraseña" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="r_password" type="password" placeholder="Repita constraseña" required>
    </ion-input>
  </ion-item>
  <br>
  
  <button color="primary" ion-button block (click)="signUp()">Registrarse</button>
</ion-content>
